{% extends 'base.html' %}
{% load staticfiles %}
{% csrf_token %}

{% block content %}

<script src="{% static 'js/csrf.js' %}"></script>


<!-- a part to assign categories to line items, which will be some sort of drop-down form -->
<div class = "container" role = "main">

    <h1> New Line Item </h1>

    <div class="row top">
        <form action = "post_li_url" method="post">
            {% csrf_token %}
            {{liForm.as_p}}
            <input type="submit" value="Submit" class="btn-primary" />
        </form>
    </div>
</div>

{% endblock %}
