<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSV Accountant</title>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="{% static 'style.css' %}" rel = "stylesheet">
    <link rel="stylesheet" type="text/css" href = "{% static 'style.css' %} " />
</head>
<body>
    <div class = "col-md-12 banner-wrapper">
        <img src="{% static 'images/piggy-bank_960_720_except_cropped.jpg' %}" class="banner">
    </div>

    <div class="jumbotron text-center">
      <h1>CSV Accountant</h1>
    </div>

{% block content %}
{% endblock %}

</body>

<footer>

</footer>