{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/modify_li.js' %}" ></script>
<script src="{% static 'js/buttons.js' %}" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% csrf_token %}
<script src="{% static 'js/csrf.js' %}"></script>

<!-- CATEGORIES -->
<div class = "container" role = "main">

    <h1> Analyze Spending</h1>
    <div>
        from &nbsp; <input id="month_start" type="month">
        to &nbsp;<input id="month_end" type="month">
        <input type='button' class="analyze btn btn-primary btn_bottom" value="Analyze">

    </div>


    <h1> Categories</h1>

    <div class="row top">

        <div class="col-md-5" >
            <h2 class = "panel-title"> Category Name </h2>
        </div>

        <div class="col-md-5" >
            <h2 class = "panel-title"> Category Total (refresh for reassignments) </h2>
        </div>

        <div class="col-md-2 last" >
            <h2 class = "panel-title "> Action</h2>
        </div>
    </div>


    {% for category in categories %}
    <div class="row">

        <div class="col-md-5" >
            <h3 class = "panel-title"> {{category.name }}</h3>
        </div>

        <div class="col-md-5" >
            <h3 class = "panel-title"> {{category.total }}</h3>
        </div>

        <div class="col-md-2 last" >
            <button type="button" class="delete btn btn-primary" data-type="cat" data-id="{{category.id }}">Delete </button>
        </div>
    </div>

    {% endfor %}

    <div class="button_div">
        <a href="/add_cat"><button type="button" class="btn btn-primary btn_bottom">Add Category</button></a>
    </div>

</div> <!-- end categories -->

<!-- NEW LINE ITEMS -->
<div class = "container" role = "main">

    <h1>Unassigned Line Items</h1>

    <div class="row top">

        <div class="col-md-2" >
            <h2 class = "panel-title"> Line Item </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> Category </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> Date </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> Price </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> Info </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title">  Action </h2>
        </div>

    </div>


    {% for lineItem in lineItems_new|dictsort:"date"  %}
    <div class="row">
        <div class="col-md-2" >
            <h2 class = "panel-title"> {{ lineItem.name }}</h2>
        </div>

        <div class="col-md-2" >
            <select class="selectpicker" data-test='{{ lineItem.category.name }}' data-id='{{ lineItem.id }}'>
                {% for category in categories%}
                {% if lineItem.category.name == category.name %}
                <option  selected="selected" class="assign_cat">{{ category.name }}</option>
                {% else %}
                <option  class="assign_cat">{{ category.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> {{ lineItem.date }}</h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> {{ lineItem.price }}</h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> {{ lineItem.info }}</h2>
        </div>

        <div class="col-md-2" >
            <button type="button" class="delete btn btn-primary" data-type="li" data-id="{{lineItem.id }}">Delete </button>
        </div>

    </div>
    {% endfor %}

    <div class="button_div">
        <a href="/add_li"><button type="button" class="btn btn-primary btn_bottom">Add Line Item </button></a>
    </div>
    <div class="button_div">
        <input type='button' class="ok btn btn-primary btn_bottom" value="All OK" onClick="window.location.reload()">
    </div>
</div> <!-- end new line items -->

<!-- OLD LINE ITEMS -->
<div class = "container" role = "main">

    <h1>Old Line Items</h1>

    <div class="row top">

        <div class="col-md-2" >
            <h2 class = "panel-title"> Line Item </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> Category </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> Date </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> Price </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> Info </h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title">  Action </h2>
        </div>

    </div>


    {% for lineItem in lineItems_old|dictsort:"date"  %}
    <div class="row">
        <div class="col-md-2" >
            <h2 class = "panel-title"> {{ lineItem.name }}</h2>
        </div>

        <div class="col-md-2" >
            <select class="selectpicker" data-test='{{ lineItem.category.name  }}' data-id='{{ lineItem.id }}'>
                {% for category in categories%}
                {% if lineItem.category.name == category.name %}
                <option  selected="selected" class="assign_cat">{{ category.name }}</option>
                {% else %}
                <option  class="assign_cat">{{ category.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> {{ lineItem.date }}</h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> {{ lineItem.price }}</h2>
        </div>

        <div class="col-md-2" >
            <h2 class = "panel-title"> {{ lineItem.info }}</h2>
        </div>

        <div class="col-md-2" >
            <button type="button" class="delete btn btn-primary" data-type="li" data-id="{{lineItem.id }}">Delete </button>
        </div>

    </div>
    {% endfor %}

    <div class="button_div">
        <a href="/add_li"><button type="button" class="btn btn-primary btn_bottom">Add Line Item </button></a>
    </div>

</div> <!-- end old line items -->

<div class = "container" role = "main">
    <div class="button_div">
        <a href="/upload_csv"><button type="button" class="btn btn-primary btn_bottom">Upload csv</button></a>
    </div>
</div>

{% endblock %}
